<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Burger King</title>
  <link rel="stylesheet" href="/stylesheet/admin-style.css" />
</head>

<body>
    <header>
        <h1 style="text-align:center;">All Products</h1>
        <a href="/admin/product/index" class="back-home">← Back</a>
    </header>
<main>

  <% if (products.length === 0) { %>
    <p>No products found in the database.</p>
  <% } else { %>
  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price (RS)</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach(products => { %>
        <tr>
          <td><img src="data:<%= products.imagetype %>;base64,<%= products.image %>" alt="<%= products.name %>"></td>
          
          <td><%= products.name %></td>
          <td><%= products.price %></td>
          <td><%= products.description %></td>
          <td>
            <a href="/admin/product/edit/<%= products._id %>" class="action-btn edit-btn">Edit</a>
          </td>
          <td>
            <a href="/admin/product/delete/<%= products._id %>" class="action-btn delete-btn" onclick="return confirm('Are you sure?')">Delete</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <% } %>

</main>

</body>

<footer class="footer">
    <div class="footer-content">
      <p>&copy; 2025 Burger King Admin Panel. All rights reserved.</p>
    </div>
  </footer>
  <% if (message) { %>
    <div id="success-message" class="alert">
      <%= message %>
    </div>
  <% } %>
  <script src="/javascript/scripts.js"></script>
</html>
